<h1>Sign In NOW!</h1>

<% flash.each do |type, msg| %>
  <p id="<%= type %>"><%= msg %></p>
<% end %>

<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <br>
  <label for="user_username">Username</label><br>
  <input type="text" id="user_username" name="user[email]"><br>

  <br>
  <label for="user_password">Password</label><br>
  <input type="password" id="user_password" name="user[password]"><br>
  <br>

  <h2>OR <a href="/auth/facebook">LOGIN WITH FACEBOOK!</a></h2>

  <input type="submit" value="Sign in!">
</form>